<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>
         About Us<br />
        </h1>
      </div><!-- /col-lg-6 -->
      <div class="col-lg-6">
        <img class="img-responsive" src="/assets/frontend/img/logo.png" alt="" style="height:350px;margin-left: 140px;">
      </div><!-- /col-lg-6 -->

    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Who are we</h1>

    </div>
    <div class="col-md-4 col-md-offset-4 text-center" style="background-color: white; padding-top: 25px; padding-bottom: 25px; border-radius: 100px;">
      <img src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Bookmark-128.png" />
    </div>
  </div><!-- /row -->

  <div class="jumbotron">
    <p>We are an online organization that wants to make a difference by combatting unemployment and poverty, especially in the youth. The biggest problem that we found when looking at these issues is not that there is no work available, but that people merely cannot access potential jobs quickly and easily. Thus we created a platform for anyone to find a job quickly and easily.</p>
  </div>
</div><!-- /container -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>What we do</h1>
    </div>
    <div class="col-md-4 col-md-offset-4 text-center" style="background-color: white; padding-top: 25px; padding-bottom: 25px; border-radius: 100px;">
      <img src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Magnifier-128.png" />
    </div>
  </div><!-- /row -->

  <div class="jumbotron">
    <p>We connect people by providing a platform where anyone can easily find a job to earn some money. We give the Job Provider the means to connect with the Job Seeker, and thereby create a lasting business relationship between the two.</p>
  </div>
</div><!-- /container -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Our Mission</h1>
    </div>
    <div class="col-md-4 col-md-offset-4 text-center" style="background-color: white; padding-top: 25px; padding-bottom: 25px; border-radius: 100px;">
      <img src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Message-128.png" />
    </div>
  </div><!-- /row -->

  <div class="jumbotron">
    <p>Our mission is to combat unemployment and poverty as well as to instill a good work ethic in the world around us so that we can create a future to be proud of.

      We want to change the world, bit by bit</p>
  </div>
</div><!-- /container -->


