<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>
          Bitwork Administrator<br/>
        </h1>

        <%= form_for 'admin', url: {action: 'perform_admin_login'} do |f| %>
            <%= f.text_field :password, class: 'form-control', placeholder: 'Password...', type: 'password' %>
            <button type="submit" class="btn btn-success">Login</button>
        <% end %>
      </div><!-- /col-lg-6 -->
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
        <img class="img-responsive home-logo" src="/assets/frontend/img/logo.png" alt="" style="height:350px;margin-left: 140px;">
      </div><!-- /col-lg-6 -->

    </div>
  </div>
</div>



