<div class="container-fluid">

  <div class="row animated fadeIn" style="-webkit-animation-delay: 0.5s">">
    <div class="jumbotron heading">
      <div class="row">
        <div class="col-md-8 col-md-push-2 text-center">
          <h1 class="whiteText jumbotronHeadings">Frequently Asked Questions</h1>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-push-2">

      <!-- Q&A 1 -->

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 0.7s">
            <div class="content">
              <div class="qnaNumberBlock text-center">
                <span class="LargeBold number"> <b>1</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 0.8s">
            <div class="content">
              <div class="qnaLetterBlockQ text-center">
                <span class="LargeBold whiteText"> <b>Q</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 0.8s">
            <div class="content">
              <p>As which type of user should I register? </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height"></div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 1s">
            <div class="content">
              <div class="qnaLetterBlockA text-center">
                <span class="LargeBold whiteText"> <b>A</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 1s">
            <div class="content">
              <p>If you would like to list jobs, you need need to register as a Job Provider. If you would like to
                complete jobs, you need to register as a Job Seeker.</p>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <!-- Q&A 2 -->

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 1.2s">
            <div class="content">
              <div class="qnaNumberBlock text-center">
                <span class="LargeBold number"> <b>2</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 1.3s">
            <div class="content">
              <div class="qnaLetterBlockQ text-center">
                <span class="LargeBold whiteText"> <b>Q</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 1.3s">
            <div class="content">
              <p>How do I apply for a job? </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height"></div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 1.5s">
            <div class="content">
              <div class="qnaLetterBlockA text-center">
                <span class="LargeBold whiteText"> <b>A</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 1.5s">
            <div class="content">
              <p>Navigate to the job listing and enter a bid. The Job Provider will then review your bid, and can then
                accept it if they like what they see.</p>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <!-- Q&A 3 -->

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 1.7s">
            <div class="content">
              <div class="qnaNumberBlock text-center">
                <span class="LargeBold number"> <b>3</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 1.8s">
            <div class="content">
              <div class="qnaLetterBlockQ text-center">
                <span class="LargeBold whiteText"> <b>Q</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 1.8s">
            <div class="content">
              <p>How do I pay/get paid? </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height"></div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 2s">
            <div class="content">
              <div class="qnaLetterBlockA text-center">
                <span class="LargeBold whiteText"> <b>A</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 2s">
            <div class="content">
              <p>Bitwork does not handle any payments: Job Providers and Job Seekers handle that on their own.
                For your convenience we have created a payment management system. Once a bid has been accepted, the
                payment
                will be logged as 'Due'. The Job Seeker can then mark it as paid once they have recieved payment.
                The payment will then log as paid.</p>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <!-- Q&A 4 -->

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 2.2s">
            <div class="content">
              <div class="qnaNumberBlock text-center">
                <span class="LargeBold number"> <b>4</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 2.3s">
            <div class="content">
              <div class="qnaLetterBlockQ text-center">
                <span class="LargeBold whiteText"> <b>Q</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 2.3s">
            <div class="content">
              <p>How do I find a Job? </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height"></div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 2.5s">
            <div class="content">
              <div class="qnaLetterBlockA text-center">
                <span class="LargeBold whiteText"> <b>A</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 2.5s">
            <div class="content">
              <p>Use our search bar to find a job near you.</p>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <!-- Q&A 5 -->

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 2.7s">
            <div class="content">
              <div class="qnaNumberBlock text-center">
                <span class="LargeBold number"> <b>5</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 2.8s">
            <div class="content">
              <div class="qnaLetterBlockQ text-center">
                <span class="LargeBold whiteText"> <b>Q</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 2.8s">
            <div class="content">
              <p>How do ratings, reviews and achievements badges work? </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row-height">
          <div class="col-xs-2 col-height"></div>
          <div class="col-xs-2 col-height animated fadeInLeft" style="-webkit-animation-delay: 3s">
            <div class="content">
              <div class="qnaLetterBlockA text-center">
                <span class="LargeBold whiteText"> <b>A</b> </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-height col-middle animated fadeInRight" style="-webkit-animation-delay: 3s">
            <div class="content">
              <p>After a job has been completed, Job Providers and Job Seekers
                have the option to rate each other out of 5 stars and write a short review.
                Users earn achievement badges according to the number of jobs that they listed/completed.
                The more you do, the more badges you earn.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>