<div class="container-fluid animated fadeIn" style="-webkit-animation-delay: 0.5s">

  <div class="row">
    <div class="jumbotron heading">
      <div class="row">
        <div class="col-md-8 col-md-push-2 text-center">
          <h1 class="whiteText jumbotronHeadings">What is Micro-Jobbing?</h1>
          <p class="whiteText">Get familiar with the next "big" thing...</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">

  <div class="row animated fadeInUp" style="-webkit-animation-delay: 0.6s">
    <div class="jumbotron grey">
      <div class="row">
        <div class="col-md-8 col-md-push-2 text-center">
          <p>People and companies often have small, temporary jobs that need to be done, but don't need a full-time employee to do them.
            This is where micro-jobbing comes in. Job Providers can place adverts on BitWork,
            which Job Seekers can then complete in return for payment.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <div class="row">
        <div class="col-md-4 animated fadeInRight" style="-webkit-animation-delay: 1.2s">
          <div class="AboutUsBlockRed">
            <div class="row">
              <br />
              <div class="col-md-12">
                <img class="img-responsive" src="assets/clock.png" width="100" height="100" alt="" />
              </div>

            </div>
            <div class="row">
              <br />
              <div class="col-md-12">
                <p class="text-center">
                  Saves you time.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 animated fadeInRight" style="-webkit-animation-delay: 1.4s">
          <div class="AboutUsBlockBlue">
            <div class="row">
              <br />
              <div class="col-md-12">
                <img class="img-responsive" src="assets/credit-card.png" width="100" height="100" alt=""/>
              </div>

            </div>
            <div class="row">
              <br />
              <div class="col-md-12">
                <p class="text-center">
                  Earns you money.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 animated fadeInRight" style="-webkit-animation-delay: 1.6s">
          <div class="AboutUsBlockGreen">
            <div class="row">
              <br />
              <div class="col-md-12">
                <img class="img-responsive" src="assets/smartphone.png" width="100" height="100" alt="" />
              </div>

            </div>
            <div class="row">
              <br />
              <div class="col-md-12">
                <p class="text-center">
                  Easily accesible.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>