<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="showback">
      <h4><i class="fa fa-angle-right"></i> Adverts Pending Approval</h4>
      <br/>

      <div class="row">
        <div class="col-md-12 mb">
          <div class="white-panel pn" style="color:white !important">
            <div class="white-header">
              <div class="row">
                <div class="col-md-7 text-right">
                  <h5>3 waiters needed in cool bar!</h5>
                </div>
                <div class="col-md-5 text-right">
                  <a href="#" class="btn btn-success" style="color:white"><i class="fa fa-check"></i></a>
                  <a href="#" class="btn btn-danger" style="color:white"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="http://www7.carjunky.com/images/users/26383-user_icon.jpg" class="img-circle" width="80">
              </div>
              <div class="col-md-4 text-center">
                <h3 style="background-color: #68dff0; padding: 5px"><b>Zac Snider</b></h3></div>
              <div class="col-md-4 text-center" style="color: black">
                <h3>R 380.00</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <p class="small mt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                  galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                  desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

              </div>
            </div>

          </div>
        </div>
      </div>

      <br/>


      <div class="row">
        <div class="col-md-12 mb">
          <div class="white-panel pn" style="color:white !important">
            <div class="white-header">
              <div class="row">
                <div class="col-md-7 text-right">
                  <h5>Need student to help pack old furniture</h5>
                </div>
                <div class="col-md-5 text-right">
                  <a href="#" class="btn btn-success" style="color:white"><i class="fa fa-check"></i></a>
                  <a href="#" class="btn btn-danger" style="color:white"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="https://www.law.yale.edu/sites/default/files/images/Alumni%20Student%20Profile%20photos/profiles_liss.jpg" class="img-circle" width="80">
              </div>
              <div class="col-md-4 text-center">
                <h3 style="background-color: #68dff0; padding: 5px"><b>Rummulus Stargazerr</b></h3></div>
              <div class="col-md-4 text-center" style="color: black">
                <h3>R 1 200.00</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <p class="small mt">Sed tempor elementum mi. Maecenas nec arcu elementum, tempus ante non, rhoncus arcu.
                  Donec feugiat facilisis magna nec ornare. Nunc lacinia tempor gravida. Morbi eleifend nibh ac dolor
                  aliquet, ac sodales nunc luctus.</p>

              </div>
            </div>

          </div>
        </div>
      </div>


    </div>

  </section>
</section>
<script>
  $("#adverts_menu_item").addClass('active')
  $("#affiliate_menu_item").removeClass('active')
  $("#comments_menu_item").removeClass('active')
  $("#users_menu_item").removeClass('active')
  $("#dashboard_menu_item").removeClass('active')
</script>