<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="showback">
      <h4><i class="fa fa-angle-right"></i> Comments Pending Approval</h4>
      <br />


      <style>
        .message {
          margin-bottom: 15px;
        }

        .image {
          float: left;
          margin-right: 10px;
        }

        .user {
          float: left;
          font-weight: bold;
          color: #009;
          margin-bottom: 5px;
        }

        .content {
          margin-left: 30px;
          font-style: italic;
          color: #8DD7F0;
        }
      </style>


      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="message">
              <div class="image">
                <img src="http://www.gravatar.com/avatar/df125f7b89730a39163bb17c1c18c1d9?s=18&d=identicon&r=PG"/></div>
              <div class="user">Silvertiger</div>
              <div style="clear:both;"></div>
              <div class="content">Is this guy is a good job provider?</div>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <a href="#" class="btn btn-success"><i class="fa fa-check" style="padding-right: 5px"></i>Approve</a>
            <a href="#" class="btn btn-danger"><i class="fa fa-times" style="padding-right: 5px"></i>Decline</a>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="message">
              <div class="image">
                <img src="http://www.gravatar.com/avatar/98d247dcb9453a0d5adc70cd6b3acde9?s=18&d=identicon&r=PG"/></div>
              <div class="user">user2309722</div>
              <div style="clear:both;"></div>
              <div class="content">This is a comment on a advertisement.</div>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <a href="#" class="btn btn-success"><i class="fa fa-check" style="padding-right: 5px"></i>Approve</a>
            <a href="#" class="btn btn-danger"><i class="fa fa-times" style="padding-right: 5px"></i>Decline</a>
          </div>
        </div>
      </div>


    </div>

  </section>
</section>
<script>
  $("#adverts_menu_item").removeClass('active')
  $("#affiliate_menu_item").removeClass('active')
  $("#comments_menu_item").addClass('active')
  $("#users_menu_item").removeClass('active')
  $("#dashboard_menu_item").removeClass('active')
</script>