<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="row">
      <div class="col-md-12 text-right">
        <a href="#" data-toggle="modal" data-target="#how_to_advertise">How to advertise?</a> <br/>
        <a href="#" class="btn btn-primary"><i class="fa fa-plus" style="padding-right: 5px"></i>Create new
          Advertisement</a>
      </div>
    </div>
    <br/>

    <div class="showback">
      <h4><i class="fa fa-angle-right"></i> Affiliate Marketing</h4>
      <br/>

      <div class="row">
        <div class="col-md-12 mb">
          <div class="white-panel">
            <div class="white-header">
              <div class="row">
                <div class="col-md-7 text-right">
                  <h5>The Veronica's</h5>
                </div>
                <div class="col-md-5 text-right">
                  <a href="#" class="btn btn-danger" style="color:white"><i class="fa fa-times" style="padding-right: 5px"></i>Deactivate</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="http://t10.deviantart.net/swysDhkHByR4FEvsIdoBrHV2cCk=/300x200/filters:fixed_height(100,100):origin()/pre09/7bb9/th/pre/f/2008/182/6/4/the_veronicas_by_purechaos88.jpg"/>
              </div>
              <div class="col-md-2 text-right">
                <p>Price Paid</p>
              </div>
              <div class="col-md-6  text-left">
                <h1>R 3 400.00</h1>
              </div>


              <div class="col-md-2 text-right">
                <p>Valid Until</p>
              </div>
              <div class="col-md-6  text-left">
                <h1>13 June 2016</h1>
              </div>

              <div class="col-md-2 text-right">
                <p>Link</p>
              </div>
              <div class="col-md-6  text-left">
                <h1>
                  <small><a href="http://www.theveronicas.com">http://www.theveronicas.com</a></small>
                </h1>
              </div>

              <div class="col-md-12 text-center">
                <h2>2568 <small>Clicks</small></h2>
              </div>


            </div>
          </div>
        </div>
      </div>
      <br/>











      <!--OTHER ADD START-->
      <div class="row">
        <div class="col-md-12 mb">
          <div class="white-panel">
            <div class="white-header">
              <div class="row">
                <div class="col-md-7 text-right">
                  <h5>Sukhras</h5>
                </div>
                <div class="col-md-5 text-right">
                  <a href="#" class="btn btn-danger" style="color:white"><i class="fa fa-times" style="padding-right: 5px"></i>Deactivate</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="http://www.chemtech-online.com/graphics/sukhras_logo.jpg"/>
              </div>
              <div class="col-md-2 text-right">
                <p>Price Paid</p>
              </div>
              <div class="col-md-6  text-left">
                <h1>R 1200.00</h1>
              </div>


              <div class="col-md-2 text-right">
                <p>Valid Until</p>
              </div>
              <div class="col-md-6  text-left">
                <h1>22 March 2016</h1>
              </div>

              <div class="col-md-2 text-right">
                <p>Link</p>
              </div>
              <div class="col-md-6  text-left">
                <h1>
                  <small><a href="http://www.sukhras.com">http://www.sukhras.com</a></small>
                </h1>
              </div>

              <div class="col-md-12 text-center">
                <h2>122 <small>Clicks</small></h2>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</section>


<div id="how_to_advertise" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">How to advertise</h4>
      </div>
      <div class="modal-body">
        <p>All applicants must submit an image of the size listed below, adverts are only approved by the administrator,
          custom prices are as per quote.</p>

        <p>The administrator must quote per advert and maintain communication with the advertiser. Once the
          administrator has approved the advert the advert will display on the side bars in the home pages. </p>

        <div class="row">
          <div class="col-md-12 text-center">
            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUyNTY1NWQwNzAgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTI1NjU1ZDA3MCI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
  $("#adverts_menu_item").removeClass('active')
  $("#affiliate_menu_item").addClass('active')
  $("#comments_menu_item").removeClass('active')
  $("#users_menu_item").removeClass('active')
  $("#dashboard_menu_item").removeClass('active')
</script>