<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="row">
      <div class="col-md-6 text-left">
        <h1>Nikon Simons</h1>
        <p>082 379 3802</p>
        <p>Langenhovenpark, Bloemfontein, 9301, South Africa </p>
      </div>
      <div class="col-md-6 text-right">
        <h1><img src="/assets/seeker_onthegrind.png" /></h1>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>JOBS TAKEN</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/valentines_day-57-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>9</h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->


      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>MONEY RECEIVED </h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration-37-2-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>R 3200.00</h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->

      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>JOBS BID ON</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration-32-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>23</h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->





    </div>

  </section>
</section>
<script>
  $("#profile_menu_item").addClass('active')
  $("#jobs_menu_item").removeClass('active')
  $("#payments_menu_item").removeClass('active')
</script>