<style>
  .message {
    margin-bottom: 15px;
  }

  .image {
    float: left;
    margin-right: 10px;
  }

  .user {
    float: left;
    font-weight: bold;
    color: #009;
    margin-bottom: 5px;
  }

  .content {
    margin-left: 30px;
    font-style: italic;
    color: #8DD7F0;
  }
</style>


<section id="main-content">
  <section class="wrapper">
    <br/>

    <% @adverts.each do |advert| %>

        <div class="row" style="border-bottom: 1px solid #9C9996">
          <div class="col-md-6 text-left">
            <h3><%= advert.title %></h3>
          </div>
          <div class="col-md-6 text-right">
            <h2><%= number_to_currency(advert.payment, unit: 'R', separator: ',', delimiter: ' ') %></h2>
          </div>
        </div>
        <br/>
        <% if advert.bids.where(is_accepted: true).blank? %>
            <% if !advert.bids.blank? %>
                <% advert.bids.order('amount ASC').each do |bid| %>
                    <div>
                      <%= render 'frontend/bid', :bid => bid, :show_accept => true %>
                    </div>
                <% end %>
            <% else %>
                <div class="row" style="background-color: white; -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75); padding-top: 10px; padding-bottom: 10px">
                  <div class="col-md-12 text-center"><h3 style="opacity: 0.8">No Bids Yet</h3></div>
                    </div>
            <% end %>
        <% else %>
            <div>
              <%= render 'frontend/bid', :bid => advert.bids.where(is_accepted: true).first, :show_accept => true %>
            </div>
        <% end %>
    <% end %>
  </section>
</section>
<script>
  $("#profile_menu_item").removeClass('active')
  $("#posted_adverts_menu_item").removeClass('active')
  $("#bids_menu_item").addClass('active')
  $("#payments_menu_item").removeClass('active')
</script>